/**
 * -----------------------------------------------------------
 * Fonts
 * -----------------------------------------------------------
 */ 

// Font variables
$fontLogo: 'Sacramento', cursive;
$fontDefault: 'Montserrat', sans-serif;
$fontTitle: 'Yeseva One', cursive;

// Default font size
$fontSize: 15px;

// Font weights
$fontWeightRegular: 400;
$fontWeightSemibold: 600;
$fontWeightBold: 600;


/**
 * -----------------------------------------------------------
 * Colors
 * -----------------------------------------------------------
 */ 

$colorDefault: #253d46;
$colorDefaultGray: #6C6C6C;
// $colorAccent: #FFAA01;
$colorAccent: #5A8102;